<div class="webpush-notification-request">
    <div class="webpush-wrapper">
        <p class="info">
            {{#str}} enablenotificationdesc, aceaddon_webpush {{/str}}
        </p>
    </div>
</div>