{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template aceaddon_webpush/modalbox

    Display welcome and follow up message placeholders.

    Example context (json):
    {
        "profileurl": "https://example.com/",
        "username" : "demouser",
        "coursename": "course 1"
    }

}}

<div class='webpush-events-message-vars'>
    <div class='form-group row fitem'>
        <div class='col-md-3'></div>
        <div class='col-md-9'>
            <div class='message-vars'>
                {{#messagevars}}
                <a href='#' data-text='{{.}}' class='clickforword'>
                    <span>{{.}}</span>
                </a>
                {{/messagevars}}
            </div>
        </div>
    </div>
</div>
