.aceaddon-courserate .leave-rate {
	color: var(--white);
    background: var(--color_primary);
    border-radius: 25px;
    padding: 6px 15px;
    display: inline-block;
    cursor: pointer;
}
.aceaddon-courserate .leave-rate:before {
    content: '\f006';
    font-family: 'FontAwesome';
    margin-right: 6px;
    position: relative;
    animation: mymove 5s linear;
}
.aceaddon-courserate .rating-modal .rating-text {
	margin-bottom: 10px;
}
.aceaddon-courserate .rating-modal .review-elements .mform .course-review textarea {
	max-width: none;
    width: 100%;
    height: 90px;
    margin: 10px 0;
}

@keyframes mymove {
	from {
		left: 0;
	}
	to {
		left: 10px;
	}
}