<div class="acebuilder-playground acebuilder_content">
    <div class="addelement-row {{selectors.addelement}}">
        <div class="add-element-icon ">
            <span><i class="fa fa-plus"></i></span> 
        </div>
    </div>    
    
</div>