<div class="acebuilder-elements-list">
    <div class="acebuilder-elements-wrapper">
        <ul>
            {{#elements}}
            <li class="element-thumb" id="{{name}}" >
                <div class="element-icon">
                    <i class="{{icon}}"></i>
                </div>
                <div class="element-title">
                    <h5>{{title}}</h5>
                </div>
                <div class="element-title">
                    <p>{{{description}}}</p>
                </div>
            </li>
            {{/elements}}
        </ul>
    </div>
</div>