<html>
    <head>
        <title>
            Display quicklinks
        </title>
    </head>
    <body>
        <div class="aceaddon-quicklinks">
            {{#data}}
                <div class='quicklinks-content'>
                    <a href="{{links}}" target="_blank">
                        <h6 class='quicklinks-title'>{{title}}</h6>
                        {{#image.linkimage}}
                            <div class="quicklinks-image-block">
                                <img src={{{image.linkimage}}} class='quicklink-image'  alt="quicklink image of {{title}}">
                            </div>
                        {{/image.linkimage}}
                        {{^image.linkimage}}
                            <div class="quicklinks-icon-block">
                                {{{icon}}}
                            </div>
                        {{/image.linkimage}}
                    </a>
                </div>
            {{/data}}
            <a href="{{{btnurl}}}" class='primary' type='button'>
                <span><i class="fa fa-plus"></i></span> 
            </a>
        </div>
    </body>
</html>