{{#ratingsview}}
<div class="aceaddon-courserate">
    <div class="courseraing-ratingwidget aceaddon-widget">
        <h2>{{#str}} coursereview, aceaddon_courserate {{/str}}</h2>
        <div class="rating-average">
             {{#averagerating}}
             <span class="heading">{{#str}} avaragerating, aceaddon_courserate {{/str}} : {{{averagerating}}}</span>
                <div class="right-block">
                    <div class="star-rating" id="course-average-rating"  data-rating="{{{averagerating}}}"  ></div>
                </div>
            {{/averagerating}}
        </div>
        <div class="rating-bars">
        <h6>{{#str}} courserating, aceaddon_courserate {{/str}}</h6>
            {{#bars}}
            <div class="bar-item" id="bar-star-{{n}}">
                <div class="left star-progress">
                    <div class="bar-container">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="right star-average">
                    <div class="star-rating" id="star-average-rating"  data-rating="{{n}}"></div>
                    <span class="star-average-score">{{width}}</span>
                </div>
            </div>
            {{/bars}}
        </div>
    </div>
</div>
<style>
    {{#bars}}
        #bar-star-{{n}} .bar {
            width: {{width}};
        }
    {{/bars}}
</style>
{{/ratingsview}}

{{#courserate}}
<div class="aceaddon-courserate">
    <div class="course-average-rating">
        {{#avgrating}}
            <label> {{{avgrating}}} </label>
            <div class="star-rating" id="average-rating"  data-rating="{{{avgrating}}}"  >
            </div>
        {{/avgrating}}
    </div>
</div>
{{/courserate}}

{{#reviewsview}}
{{^itemonly}}
<div class="aceaddon-courserate">
    <div class="courseraing-reviewwidget aceaddon-widget">
        <div class="review-heading">
            <h6> {{#str}} reviews, aceaddon_courserate {{/str}}</h6>
        </div>
        <div class="review-list">
            <div class="review-content">
{{/itemonly}}
            {{#reviews}}
            <div class="review-item">
                <div class="user-detail">
                    <div class="user-image">
                        <a href="{{{userprofileurl}}}">
                            <img src="{{profileimageurl}}" alt="{{{username}}}">
                        </a>
                    </div>
                    <div class="user-name">
                        {{{username}}}<br>
                        <div class="user-rating" id="user-rating"  data-rating="{{rating}}"></div>
                    </div>
                    <div class="user-review">
                        {{{review}}}
                    </div>
                </div>
            </div>
            {{/reviews}}
{{^itemonly}}
            </div>
        </div>
        <div class="load-more">
            <button class="btn btn-primary load-more-reviews" id="load-more-reviews">{{#str}} seemorereviews, aceaddon_courserate {{/str}}</button>
        </div>
    </div>
</div>
{{/itemonly}}
{{/reviewsview}}
