{{! Rating modal }}
{{#leaverating}}
<div class="aceaddon-courserate">
    <div class="rating-modal">
        <div class="rating-text" id="courserate_description">
        </div>
            <div class="star-rating" id="rater" {{#rating}} data-rating="{{{rating}}}" {{/rating}} >
        </div>
        <div class="review-elements">
            <form action="javascript::void();" id="courserate-review" class="mform hide">
                <div class="course-review" >
                    <textarea class="course-review" id="editor_coursereview" name="coursereview">{{{review}}}</textarea>
                </div>
                <input type="submit" value="{{#str}} giverate, aceaddon_courserate {{/str}}">
            </form>
        </div>
    </div>
</div>
{{/leaverating}}

{{#courserate}}
<div class="aceaddon-courserate">
    <label class="leave-rate" id="courserate_trigger"> {{#str}} leave_rating, aceaddon_courserate {{/str}} </label>
</div>
{{/courserate}}