.star-rating {
    width: 0;
    position: relative;
    display:inline-block;
    background-image: url([[pix:aceaddon_courserate|star_0]]);
    background-position: 0 0;
    background-repeat: repeat-x;
    cursor: pointer;
}

.star-rating .star-value {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url([[pix:aceaddon_courserate|star_1]]) ;
    background-repeat: repeat-x;
}

.star-rating.disabled {
    cursor: default;
}

.star-rating.is-busy {
    cursor: wait;
}

.star-rating .star-value.rtl {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    right: 0;
    left: auto;
}

.aceaddon-courserate .courseraing-ratingwidget .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.aceaddon-courserate .courseraing-ratingwidget .bar-container .bar {
    height: 12px;
}

/* Individual bars */
.aceaddon-courserate .courseraing-ratingwidget #bar-star-5 .bar-container .bar {
    background-color: #04aa6d;
}
.aceaddon-courserate .courseraing-ratingwidget #bar-star-4 .bar-container .bar {
    background-color: #2196f3;
}
.aceaddon-courserate .courseraing-ratingwidget #bar-star-3 .bar-container .bar {
    background-color: #00bcd4;
}
.aceaddon-courserate .courseraing-ratingwidget #bar-star-2 .bar-container .bar {
    background-color: #ff9800;
}
.aceaddon-courserate .courseraing-ratingwidget #bar-star-1 .bar-container .bar {
    background-color: #f44336;
}
.aceaddon-courserate .leave-rate {
    color: #ff9800;
}